<div class="container">

    <h1>Eat More Burgers!</h1>

<form class="create-form">

  <div class="form-group">
    <label for="burger-box">Enter your burger here...</label>
    <input type="text" id="burger-box" name="name">
  </div>

  <button type="submit">Add a Burger</button>
</form>

</div>