body {
    background-color: steelblue;
}

h1 {
text-align: center;
color: white;
font-weight: bolder;
}

.create-form {
    text-align: center;
}

#burgerBoxLabel {
    font-size: 20px;
    font-weight: bolder;
}